.botao {
    margin-bottom: 5px;
}

.linha-tabela {
    border: 1px solid black;
}

.main-container {
    width: 95%;
    margin: auto;
}

/* style="border: 1px solid black; width: 100%;" */

.main-table {
    width: 100%;
    border: 1px solid black;
}